[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-crudbuilder = "*"
django-widget-tweaks = "*"
django-crispy-forms = "*"
dj-pagination = "*"


[dev-packages]

