{% extends 'ppdb/base.html' %}


{% load widget_tweaks %}
{% block content %}
  <div class="w3-container w3-display-middle w3-mobile" style="margin: 0 auto; width: 50%;">
  <div class="w3-card w3-container w3-green w3-center"><h2>Login</h2></div>
  <div class="w3-container w3-card">
  <form method="post">
    {% csrf_token %}
    <p></p>
    <label>Username : </label>
    <p>{{ form.username|add_class:"w3-input" }}</p>
    <label>Password: </label>
    <p>{{ form.password|add_class:"w3-input" }}</p>
    <button type="submit" class="w3-button w3-blue">Login</button>
    <hr>
    <p class="w3-small">alpine v.0.1</p>
  </form>
</div>
</div>
</div>
{% endblock %}