{% load staticfiles %}

{% block content %}

<html>

<head>
    <title>MTs N 2 Kudus</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <!-- Header Menu -->
    <div class="w3-bar w3-light-grey">
        <a href="#" class="w3-bar-item w3-button">Home</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Profil madrasah</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#vimis" class="w3-bar-item w3-button">Visi dan Misi</a>
                <a href="#gukar" class="w3-bar-item w3-button">Guru dan karyawan</a>
                <a href="#sejarah" class="w3-bar-item w3-button">Sejarah Singkat</a>
                <a href="#fasilitas" class="w3-bar-item w3-button">Fasilitas</a>
                <a href="#tujuan" class="w3-bar-item w3-button">Tujuan</a>
                <a href="#prestasi" class="w3-bar-item w3-button">Prestasi</a>
            </div>
        </div>
        <a href="#blog" class="w3-bar-item w3-button">Blog</a>
    </div>
    <!-- Salam Kamad -->
    <div class="w3-container w3-red" id="kamad">
        <p>Assalamualaikum. Salam dari Kamad</p>
    </div>
    <!-- Berita dari Blog -->
    <div class="w3-container w3-amber" id="dari-blog">
        <p><a href="./blog">Dari Blog</a></p>
    </div>
    <!-- Visi dan Misi -->
    <div class="w3-container w3-light-green" id="vimis">
        <h1>Visi dan Misi</h1>
        <h2 class="w3-center"> Visi </h2>
        <p class="w3-panel">“Terwujudnya generasi Islam yang berakhlaq mulia, berprestasi, berwawasan luas dan terampil di bidang Ilmu Pengetahuan dan Teknologi (IPTEK) berlandaskan iman dan taqwa (IMTAQ)”
        </p>
        <p>Indikator Visi Madrasah Tsanawiyah Negeri 2 Kudus:</p>
        <ul class="ul1">
            <li>Berprestasi (Disiplin dan Kreatif)</li>
            <ul>
                <li>Naik kelas 100% secara normative</li>
                <li>Mempertahankan Lulus UM 100% pada tahun pelajaran 2017/2018 dengan peningkatan nilai rata-rata peserta didik dari 7,5 menjadi 7,7</li>
                <li>Memperoleh juara dalam kompetisi / lomba mapel</li>
                <li>Minimal 20% output diterima di sekolah/madrasah favorit</li>
                <li>Masuk madrasah tepat waktu</li>
                <li>Pulang dari madrasah tepat waktu</li>
                <li>Memakai pakaian sesuai aturan madrasah</li>
                <li>Melaksanakan tata tertib madrasah</li>
            </ul>
            <li>Terampil dalam Ilmu Pengetahuan dan Teknologi (Kreatif)</li>
            <ul>
                <li>Terampil, kreatif dan aktif mengikuti berbagai macam lomba / olympiade mata pelajaran, seni dan bahasa</li>
                <li>Terampil dan kreatif dalam mengoperasikan peralatan teknologi, Komunikasi dan Informasi (ICT)</li>
                <li>Terampil, Kreatif dalam bidang mading dan KIR</li>
                <li>Terampil, kreatif dan memiliki life skill dalam bidang kerajinan tangan (seni budaya)</li>
            </ul>
            <li>Berakhlakul Karimah Berlandaskan Iman dan Taqwa (Religius dan Jujur)</li>
            <ul>
                <li>Terbiasa mengucapkan salam dan berjabat tangan dengan sesama warga madrasah</li>
                <li>Terbiasa menghargai dan menghormati kepada sesama warga madrasah</li>
                <li>Hafal Asmaul Husna dan surat-surat pendek dalam Al Qur’an</li>
                <li>Mampu membaca Al Qur’an dengan baik dan benar</li>
                <li>Terbiasa menjalankan sholat lima waktu dan sholat sunnah</li>
                <li>Terbiasa menjalankan sholat berjamaah</li>
                <li>Peserta didik gemar bershodaqoh</li>
                <li>Menyediakan fasilitas tempat temuan barang hilang</li>
                <li>Menyediakan kantin kejujuran</li>
                <li>Larangan membawa fasilitas komunikasi pada saat ulangan atau ujian</li>
            </ul>
        </ul>
        <h2 class="w3-center"> Misi </h2>
        <ul class="ul1">
            <li>Menjadikan Madrasah Tsanawiyah Negeri 2 Kudus sebagai lembaga pendidikan yang religius, jujur, disiplin, kreatif dan berperan dalam masyarakat</li>
            <li>Menyelenggarakan pendidikan dengan pembelajaran profesional dan bermakna yang menumbuhkan dan mengembangkan peserta dengan nilai UN di atas rata-rata dengan landasan religius, jujur, disiplin dan kreatif</li>
            <li>Menyelenggarakan program bimbingan secara efektif untuk menggali dan menumbuh kembangkan minat, bakat peserta didik yang berpotensi agar dapat berkembang secara optimal yang religius, jujur, disiplin dan kreatif</li>
            <li>Mewujudkan pembelajaran dan pembiasaan dalam mempelajari Al-Qur’an dan Hadits serta menjadikannya sebagai pedoman hidup dalam kehidupan sehari-hari berlandaskan religius, jujur, disiplin dan kreatif</li>
            <li>Meningkatkan pengetahuan dan teknologi serta profesionalisme tenaga kependidikan sesuai dengan perkembangan dunia pendidikan yang berlandaskan religius, jujur, disiplin dan kreatif</li>
            <li>Menumbuhkembangkan budaya akhlakul karimah pada seluruh warga madrasah dengan berlandaskan nilai religius, jujur, disiplin dan kreatif</li>
            <li>Melaksanakan pembelajaran ekstra kurikuler secara efektif sesuai bakat dan minat sehingga setiap peserta didik memiliki keunggulan dalam berbagai lomba keagamaan, unggul dalam berbagai lomba mapel, olahraga dan seni dengan landasan nilai religius, jujur, disiplin dan kreatif</li>
        </ul>
    </div>
    <!-- Guru dan Karyawan -->
    <div class="w3-container w3-green" id="gukar">
        <h1>Guru dan karyawan</h1>
              <table class="w3-table-all" style="width: 50%">
        		<thead>
        		<tr>
        			<th>#</th>
        			<th>Nama</th>
        			<th>Mata Pelajaran</th>
        		</tr>
        		</thead>
        		<tbody>
        			{% for guru in guru %}
        		<tr>
	        		<td>{{ guru.id }}</td>
	        		<td>{{ guru.nama }}</td>
	        		<td>{{ guru.mapel }}</td>
	        	</tr>
        		<tr>
        			{% empty %}
        		</tr>
        		<td><td colspan="3"> Belum ada Entry </td></td>
        		
        		{% endfor %}
        		</tbody>
        	</table>
        </div>
    </div>
    <!-- Sejarah Sigkat -->
    <div class="w3-container w3-red" id="sejarah">
        <p>Sejarah Singkat</p>
    </div>
    <!-- Fasilitas -->
    <div class="w3-container w3-yellow" id="fasilitas">
        <p>Fasilitas</p>
    </div>
    <!-- Tujuan -->
    <div class="w3-container w3-blue" id="tujuan">
        <p>Tujuan</p>
    </div>
    <!-- Prestasi -->
    <div class="w3-container w3-blue" id="prestasi">
        <p>Prestasi</p>
    </div>
    </div>
</body>
{% endblock %}
</html>