{% load staticfiles %}
<html>
	<head>
		<title>PPDB - MTs Negeri 2 Kudus</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="{% static 'css/w3.css' %}">
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ppdb.css' %}">
		
	</head>
	<body>

		{% block content %}
		
		{% endblock %}

	
  	</body>
</html>