{% extends 'ppdb/base.html' %} {% load static %} {% block content %} {% include 'ppdb/menu.html' %}
<div class="w3-row pendaftar-list" id="dashboard">
    <p class="aplikasi">Aplikasi Pendaftaran Online</p>
    <p class="sekolah">MTs Negeri 2 Kudus</p>
    <p class="tahun">Tahun Pelajaran 2018/2019</p>
    <hr>
    <div class="w3-container">
    <div class="w3-col s4 w3-green w3-center">
        <p>
            <h4 class="w3-light-grey" style="padding: 16px;">Jumlah Pendaftar</p></h4>
            <p>
                <h1 class="w3-center">{{ jumlah }}</h1></p>
    </div>
    <div class="w3-col s4 w3-blue w3-center">
        <p>
            <h4 class="w3-light-grey" style="padding: 16px;">Daftar Ulang</p></h4>
            <p>
                <h1 class="w3-center">0</h1></p>
    </div>
    </div>

    <!-- <div class="w3-col s4 w3-red w3-center">
        <p>
            <h4 class="w3-light-grey" style="padding: 16px;">Tidak diterima</p></h4>
            <p>
                <h1 class="w3-center">0</h1></p>
    </div> -->
    <div class="w3-container">
    <div class="w3-col s4 w3-red w3-center">
        <p>
            <h4 class="w3-light-grey" style="padding: 16px;">Pendaftar SD</p></h4>
            <p>
                <h1 class="w3-center">{{ dariSD }}</h1></p>
    </div>
    <div class="w3-col s4 w3-dark-grey w3-center">
        <p>
            <h4 class="w3-light-grey" style="padding: 16px;">Pendaftar MI</p></h4>
            <p>
                <h1 class="w3-center">{{ dariMI }}</h1></p>
    </div>
    </div>
</div>
{% endblock %}