{% extends 'ppdb/base.html' %} {% load static %} {% block content %}
{% include 'ppdb/menu.html' %}

<div class="w3-container" id="export-page">
<h2><b>Export Database</b></h2>

{% if user.is_authenticated %}
<p><a href="{% url 'export_pendaftar' %}"><button class="w3-button w3-green">Format EMIS (.csv)</button></a></p>
<p><a href="{% url 'export_pendaftar_nilai' %}"><button class="w3-button w3-blue">Pengolahan Nilai (.csv)</button></a></p>
<p><a href="{% url 'export_cbt' %}"><button class="w3-button w3-red">Computer Based Test (.csv)</button></a></p>
{% endif %}
<p>* Silahkan download klik tombol diatas untuk export data. File di export ke dalam *.csv dan dapat dibuka menggunakan LibreOffice Calc maupun Ms.Excel</p>
</div>
{% endblock %}