{% extends 'ppdb/base.html' %} 
{% load static %} 
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div>{% crispy form %}</div>
</div>
<div class="w3-container" style="padding: 50px 0px 50px 0px;">
<div class="col col-md-offset-5">
	{% if user.is_authenticated %}
  <button onclick="window.history.back();" class="w3-black w3-round w3-button" type="button"><i class="fa fa-times " aria-hidden="true "></i> batal</button></a>
  <a href="{% url 'pendaftar_delete' pk=pendaftar.pk %}"><button class="w3-button w3-round w3-red"><i class="fa fa-trash" aria-hidden="true"></i> hapus</button></a>
  <a href="{% url 'pendaftar_edit' pk=pendaftar.pk %}"><button class="w3-button w3-round w3-green"><i class="fa fa-pencil" aria-hidden="true"></i> edit</button></a>
  <button class="w3-button w3-round w3-blue"><i class="fa fa-print" aria-hidden="true"></i> cetak</button>
  	{% endif %}
  <a href=""><button class="w3-button w3-round w3-blue" type="submit"><i class="fa fa-user" aria-hidden="true"></i> daftar</button>
</div>
</div>
{% endblock %}