{% extends 'ppdb/base.html' %} {% load static %} {% block content %}

<div class="w3-container w3-display-middle w3-mobile" style="width: 50%; margin: auto;">
        <div class="w3-container w3-green w3-center">
        <h5><b>Aplikasi Pendaftaran Online</b></h5>
        <h4>MTs Negeri 2 Kudus</h4>
        </div>
        <div class="w3-card-2 w3-container">
            <p></p>
            <h3 class="w3-center"><a href="{% url 'pendaftar_new' %}"><button class="w3-button w3-red"><b>Daftar</b></button></a></h3>
            <p class="w3-center">atau</p>
			<p class="w3-center w3-tiny"><a href="{% url 'login' %}"><button class="w3-button w3-green"><b>Login</b></button></a></p>
			<hr>
            <p>alpine v.0.1</p>
		</div>
</div>
        


{% endblock %}