{% extends 'ppdb/base.html' %} {% load static %} {% block content %}

<!-- <h1 class="formulir">Formulir Pendaftaran</h1> -->



<div>
    <h2 class="w3-center w3-green"><b>DETAIL PENDAFTAR</b></h2>
</div>

    <div class="w3-container" style="width: 40%; margin: auto; margin-bottom: 40px;">
        <div class="w3-panel w3-pale-green w3-display-container w3-card">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
        <h5><strong>Info:</strong></h5>
        <ul>
            <li>Pastikan pendaftar memasukkan tanggal lahir dengan benar.</li>
            <li>Pastikan semua nilai sesuai raport.</li>
        </ul>
        </div>
        <div class="w3-container w3-green">
        <h3>Data Pribadi</h3>
        </div>
        <div class="w3-card-2 w3-container">
            <p></p>
            <label>Nama pendaftar</label>
            <p>{{ pendaftar.nama }}</p>
            <label>Jenis Kelamin</label>
            <p>{{ pendaftar.jenis_kelamin }}</p>
            <label>Tempat Tanggal Lahir</label>
            <p>{{ pendaftar.tempat_lahir }}, {{ pendaftar.tanggal_lahir|date:"j F Y" }}</p>
            <label>Agama</label>
            <p>{{ pendaftar.agama_anak }}</p>
            <label>Anak ke-</label>
            <p>{{ pendaftar.anak_ke }}</p>
            <label>Saudara Kandung</label>
            <p>{{ pendaftar.jumlah_saudara_kandung }}</p>
            <label>Asal Sekolah</label>
            <p>{{ pendaftar.jenis_sekolah }} - {{ pendaftar.asal_sekolah }}</p>
        </div>
    </div>
    <div class="w3-container" style="width: 40%; margin: auto; margin-bottom: 40px;">
        <div class="w3-container w3-green">
        <h3>Data Orang Tua</h3>
        </div>
        <div class="w3-card-2 w3-container">
            <p></p>
            <label>Nama Ayah</label>
            <p>{{ pendaftar.nama_ayah }}</p>
            <label>Pendidikan Ayah</label>
            <p>{{ pendaftar.pendidikan_ayah }}</p>
            <label>Pekerjaan Ayah</label>
            <p>{{ pendaftar.pekerjaan_ayah }}</p>
            <label>Agama Ayah</label>
            <p>{{ pendaftar.agama_ayah }}</p>
            <label>Nama Ibu</label>
            <p>{{ pendaftar.nama_ibu }}</p>
            <label>Pendidikan Ibu</label>
            <p>{{ pendaftar.pendidikan_ibu }}</p>
            <label>Pekerjaan Ibu</label>
            <p>{{ pendaftar.pekerjaan_ibu }}</p>
            <label>Agama Ibu</label>
            <p>{{ pendaftar.agama_ibu }}</p>
            <label>Alamat Orang Tua</label>
            <p>{{ pendaftar.alamat_orang_tua }}</p>
            <label>No.Telepon </label>
            <p>{{ pendaftar.no_telepon }}</p>
        </div>
    </div>
    <div class="w3-container" style="width: 40%; margin: auto; margin-bottom: 40px;">
        <div class="w3-container w3-green">
        <h3>Data Wali*</h3>
        </div>
        <div class="w3-card-2 w3-container">
            <p></p>
            <label>Nama Wali</label>
            <p>{{ pendaftar.nama_wali }}</p>
            <label>Pendidikan Wali</label>
            <p>{{ pendaftar.pendidikan_wali }}</p>
            <label>Agama Wali</label>
            <p>{{ pendaftar.agama_wali }}</p>
            <label>Alamat Wali</label>
            <p>{{ pendaftar.alamat_wali }}</p>
        </div>
    </div>
    <div class="w3-container" style="width: 40%; margin: auto; margin-bottom: 40px;">
        <div class="w3-container w3-green">
        <h3>Nilai Rapor</h3>
        </div>
        <div class="w3-card-2 w3-container">
            <table class="w3-table w3-bordered w3-small">
                <thead class="">
                    <tr>
                        <th>Kelas</th>
                        <th>Mata Pelajaran</th>
                        <th style="width: 30%;">Gasal</th>
                        <th style="width: 30%;">Genap</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">Kelas 4</td>
                        <td>B. Indonesia</td>
                        <td>{{ pendaftar.indo_kelas4_smt1 }}</td>
                        <td>{{ pendaftar.indo_kelas4_smt2 }}</td>
                    </tr>
                    <tr>
                        <td>Matematika</td>
                        <td>{{ pendaftar.mtk_kelas4_smt1 }}</td>
                        <td>{{ pendaftar.mtk_kelas4_smt2 }}</td>
                    </tr>
                    <tr>
                        <td>IPA</td>
                        <td>{{ pendaftar.ipa_kelas4_smt1 }}</td>
                        <td>{{ pendaftar.ipa_kelas4_smt2 }}</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Kelas 5</td>
                        <td>B.Indonesia</td>
                        <td>{{ pendaftar.indo_kelas5_smt1 }}</td>
                        <td>{{ pendaftar.indo_kelas5_smt2 }}</td>
                    </tr>
                    <tr>
                        <td>Matematika</td>
                        <td>{{ pendaftar.mtk_kelas5_smt1 }}</td>
                        <td>{{ pendaftar.mtk_kelas5_smt2 }}</td>
                    </tr>
                    <tr>
                        <td>IPA</td>
                        <td>{{ pendaftar.ipa_kelas5_smt1 }}</td>
                        <td>{{ pendaftar.ipa_kelas5_smt2 }}</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Kelas 6</td>
                        <td>B.Indonesia</td>
                        <td>{{ pendaftar.indo_kelas6_smt1 }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Matematika</td>
                        <td>{{ pendaftar.mtk_kelas6_smt1 }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>IPA</td>
                        <td>{{ pendaftar.ipa_kelas6_smt1 }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
           </div>
    	</div>

        <div class="" style="margin: auto; width: 28%; margin-bottom: 50px;">
            <a href="{% url 'pendaftar_list' %}"><button class="w3-button w3-teal"><i class="fa fa-times" aria-hidden="true"></i> kembali</button></a>
            <a href="{% url 'pendaftar_delete' pk=pendaftar.pk %}"><button class="w3-button w3-red"><i class="fa fa-trash" aria-hidden="true"></i> hapus</button></a>
            <a href="{% url 'pendaftar_edit' pk=pendaftar.pk %}"><button class="w3-button w3-green"><i class="fa fa-pencil" aria-hidden="true"></i> edit</button></a>
            <a href="{% url 'print_pendaftar' pk=pendaftar.pk %}"><button class="w3-button w3-blue"><i class="fa fa-print" aria-hidden="true"></i> cetak</button></a>
        </div>

</div>
</div>
</div>
</div>
{% endblock %}