{% extends 'ppdb/base.html' %} {% load static %} {% block content %} {% include 'ppdb/menu.html' %} {% load widget_tweaks %} {% load pagination_tags %}
<div class="pendaftar-list">
    <p class="aplikasi">Aplikasi Pendaftaran Online</p>
    <p class="sekolah">MTs Negeri 2 Kudus</p>
    <p class="tahun">Tahun Pelajaran 2018/2019</p>
    <hr>
    <!-- TAMBAH PENDAFTAR DAN PENCARIAN-->
    <div class="w3-panel w3-pale-green w3-display-container">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-pale-green w3-large w3-display-topright">&times;</span>
        <h5><strong>Tips:</strong></h5>
        <li>Masukkan kata kunci pada input untuk pencarian, kemudian tekan enter.
        Pencarian bisa menggunakan potongan atau bagian dari kata kunci.</li>
        <li>Untuk mencetak form pendaftaran terisi, silahkan klik detail.</li>
    </div>
    
    <p>
        {% if user.is_authenticated %}
        <div class="w3-container w3-cell-row">
            <div class="w3-container w3-cell">
                <a href="{% url 'pendaftar_new' %}">
                    <button type="button" class="w3-button w3-round w3-blue">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Tambah
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </p>
</div>

<div class="w3-container pendaftar-list" id="">
    <table class="w3-table w3-bordered w3-small w3-responsive">
        <thead>
            <tr class="w3-green">
                <th>Kode</th>
                <th>Nama</th>
                <th>Asal Sekolah</th>
                <th>Indo</th>
                <th>IPA</th>
                <th>Mtk</th>
                <th>Rerata</th>
                <th>Aksi</th>
            </tr>
            <tr class="w3-light-grey">
                <form method="get">
                    <th>
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                        {{ filter.form.nomor_pendaftaran|add_class:"w3-input w3-twothird" }}</th>
                    <th>
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                        {{ filter.form.nama|add_class:"w3-input w3-twothird" }}</th>
                    <th>
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                        {{ filter.form.asal_sekolah|add_class:"w3-input w3-twothird" }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <button type="submit" class="w3-button w3-green">Cari</button>
                    </th>
            </tr>
            </form>
        </thead>
        <tbody>
            {% autopaginate filter.qs 25 as filter_list %} {% for pendaftar in filter_list %}
            <tr>
                <td>{{ pendaftar.nomor_pendaftaran }}</td>
                <td>{{ pendaftar.nama }}</td>
                <td>{{ pendaftar.asal_sekolah }}</td>
                <td>{{ pendaftar.RerataIndo|floatformat:1 }}</td>
                <td>{{ pendaftar.RerataIpa|floatformat:1 }}</td>
                <td>{{ pendaftar.RerataMtk|floatformat:1 }}</td>
                <td>{{ pendaftar.RerataMapel|floatformat:1 }}</td>
                <td scope="row">
                    {% if user.is_authenticated %}
                    <!-- Tombol hapus -->
                    <a href="{% url 'pendaftar_delete' pk=pendaftar.pk %}">
                        <button type="button" class="w3-button w3-tiny w3-red data-toggle=" tooltip " data-placement="top " title="hapus "><i class="fa fa-trash " aria-hidden="true "></i> hapus
                        
                        </button>
                        </a>
                    <!-- Tombol edit -->
                    <a href="{% url 'pendaftar_edit' pk=pendaftar.pk %}">
                        <button type="button" class="w3-button w3-tiny w3-green" data-toggle="tooltip" data-placement="top" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> edit
                        </button>
                    </a>
                    <!-- Tombol detail -->
                    <a href="{% url 'pendaftar_detail' pk=pendaftar.pk %}">
                        <button type="button" class="w3-button w3-tiny w3-blue" data-toggle="tooltip" data-placement="top" title="detail"><i class="fa fa-search-plus" aria-hidden="true"></i> detail
                        </button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="w3-center w3-light-grey">Tidak ada pendaftar dengan kata kunci tersebut!.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %} {% endblock %}
</div>