{% extends 'ppdb/base.html' %} {% load static %}

{% block content %}

<form method="post">{% csrf_token %}
    <div class="w3-container" style="width: 30%; margin: auto; margin-bottom: 40px;">
        <div class="w3-container w3-green">
        <h3>Hapus Pendaftar</h3>
        </div>
        <div class="w3-card-2 w3-container">
            <p></p>
            <label>Nomor Pendaftar</label>
            <p>{{ pendaftar.nomor_pendaftaran }}</p>

            <label>Nama pendaftar</label>
            <p>{{ pendaftar.nama }}</p>
           
            <label>Asal Sekolah</label>
            <p>{{ pendaftar.asal_sekolah }}</p>
        </div>
    </div>
    
    	
    	<div class="w3-bar w3-center">
    		<button onclick="window.history.back();" class="w3-blue w3-button w3-round" type="button">
    			<i class="fa fa-times " aria-hidden="true "></i> batal</button></a>
    		<button class="w3-red w3-button w3-round"><i class="fa fa-trash " aria-hidden="true "></i> hapus</button>
    	</div>
    </div>
</form>
{% endblock %}